<div class="container">
<div class="row">
<h1> <b> Blog </b> </h1> <p>
</div>
<div class="row">
<div class="col">
</p> <p>
  <h4> <b> Article Title: </b> </h4>
  <%= @article.title %>
  <p>
  <h4> <b> Text: </b> </h4>
  <%= @article.text %>
</p>
</div>
 <div class="col">
   <p>
<h4> Comments: </b> </h4>
<%= render @article.comments %>
</p>
</div>
<div class="col">
  <p>
<h4>Post a comment:</h4>
<%= render 'comments/form' %>
</p>
</div> </div> </div>
<center>
  <%= link_to 'Edit', edit_article_path(@article), {class: "btn btn-primary"} %> |
  <%= link_to 'Back', articles_path, {class: "btn btn-secondary"} %>
</center>
